<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#41414C" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  <title>Jobscalc</title>

  <link rel="stylesheet" href="/styles/pages/login.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/partials/page-header.css" />
  <link rel="stylesheet" href="/styles/partials/cards.css" />
  <link rel="stylesheet" href="/styles/partials/buttons.css" />
  <link rel="stylesheet" href="/styles/partials/forms.css" />
  <link rel="stylesheet" href="/styles/partials/animations.css" />
  <link rel="stylesheet" href="/styles/pages/profile.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


</head>
<body>
  <section id="form-login">
    <form id="login_data" method="POST" action="/">
      <div class="fields">
        <div>
          <label for="login">
            Login
            <input type="text" name="login">
          </label>
        </div>
        <div>
          <label for="password">
            Senha
            <input type="password" name="password" id="password">
          </label>
        </div>
        <div>
          <button class="button green" form="login_data" type="submit">
            Entrar
          </button>
        </div>
      </div>
    </form>
  </section>
</body>
</html>