<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#41414C" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  <title>JobsCalc</title>

  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/scripts/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/styles/fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/scripts/vendor/animate/animate.css">
  <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" href="/scripts/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/scripts/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/scripts/vendor/select2/select2.min.css">
  <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" href="/scripts/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/styles/util.css">
    <link rel="stylesheet" type="text/css" href="/styles/pages/login.css">
	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" type="text/css" href="/styles/partials/page-header-login.css" />
	<link rel="stylesheet" href="/styles/partials/animations.css" />
  <!--===============================================================================================-->

</head>
<body>
	<header class="login100-form-title page-header">
		<div class="principal-title">
			<span>
				Bem-vindo ao
			</span>
			<span class="JobsCalc">
				JobsCalc
			</span>
		</div>
		<span class="login100-form-avatar">
			<img src="/images/user_icon_white.svg" alt="avatar do usuário">
		</span>
	</header>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="/register">
					<div class="wrap-input100 validate-input m-b-35 animate-up delay-1" data-validate = "Enter username">
						<input class="input100" type="text" name="login">
						<span class="focus-input100" data-placeholder="Usuário"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-35 animate-up delay-2" data-validate = "Enter mail">
						<input class="input100" type="email" name="mail">
						<span class="focus-input100" data-placeholder="E-mail"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50 animate-up delay-3" data-validate="Enter password">
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Senha"></span>
					</div>

					<div class="container-login100-form-btn animate-up delay-4">
						<button class="login100-form-btn">
							Registrar
						</button>
						<div id="login_error">
							<% if(msg) { %>
								<%= msg %> 
							<% } %>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/scripts/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/vendor/bootstrap/js/popper.js"></script>
	<script src="/scripts/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/vendor/daterangepicker/moment.min.js"></script>
	<script src="/scripts/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/main.js"></script>
</body>
</html>